body {
    background-color: white;
}

.home-page {
    max-width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.home-heading {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.simple-search {
    display: flex;
    gap: 8px;
    width: 360px;
}

.simple-genres {
    display: flex;
    gap: 15px;
    padding: 15px 0;
}

.book-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.book-row {
    display: flex;
    width: 100%;
    border: 1px solid #dddddd;
    padding: 15px;
}

.book-row-info {
    flex: 1;
    padding-left: 20px;
}

.book-row-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-cover {
    width: 160px;
    height: 230px;
    object-fit: contain;
    flex-shrink: 0;
}